.UpdateProfile {
    padding: 30px 84px;

    .profile-container {
        display: grid;
        border-radius: 4px;
        grid-template-columns: 234px auto;
        width: 953x;
        border: 1px solid var(--border-color);

        .left-part {
            height: 43px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-left: 2px solid black;
        }

        .right-part {
            border-left: 1px solid var(--border-color);

            .right-container {
                padding: 34px 124px;
                display: flex;
                flex-direction: column;
                gap: 18px;

                .avatar-name {
                    display: flex;
                    gap: 32px;

                    .avatar {
                        width: 38px;
                        height: 38px;
                        border-radius: 50%;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                            object-fit: cover;
                        }
                    }

                    .name-change-img {
                        p {
                            font-weight: 400;
                        }

                        .input-user-img {
                            .labelImg {
                                cursor: pointer;

                                .click-text {
                                    color: var(--accent-color);
                                }

                                .click-text:hover {
                                    color: #043e64;
                                }
                            }

                            .inputImg {
                                display: none;
                            }
                        }
                    }
                }

                form {
                    display: flex;
                    flex-direction: column;
                    gap: 22px;

                    h3 {
                        font-size: 16px;
                    }

                    .name-input {
                        display: flex;
                        gap: 30px;
                        align-items: center;

                        input {
                            width: 355px;
                            display: block;
                            padding: 8px 10px;
                            border-radius: 4px;
                            border: 1px solid var(--border-color);
                            outline: none;
                        }
                    }

                    .bio-input {
                        display: flex;
                        gap: 50px;
                        align-items: center;

                        textarea {
                            width: 355px;
                            display: block;
                            font-family: Arial;
                            font-size: 14px;
                            letter-spacing: 0.2px;
                            padding: 8px 10px;
                            border-radius: 4px;
                            border: 1px solid var(--border-color);
                            outline: none;
                        }
                    }

                    .submit-delete {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .submit-button {
                            padding: 8px 15px;
                            font-weight: 600;
                            color: white;
                            background-color: var(--accent-color);
                            border: none;
                            border-radius: 8px;
                            cursor: pointer;
                        }

                        .submit-button:hover {
                            background-color: #0668aa;
                        }

                        .danger {
                            color: #ed4956;
                            font-size: 14px;
                            cursor: pointer;
                        }

                        .danger:hover {
                            color: #b62e39;
                        }
                    }
                }
            }

            .btn-primary {
                width: fit-content;
            }

            .delete-account {
                margin-top: 16px;
                background-color: #ed4956;
            }
        }
    }
}

.dark-mode {
    background-color: black;
    .UpdateProfile {
        .profile-container {
            .left-part {
                // background-color: black;
                border-left: 2px solid white;
                h3{
                    color: white;
                }
            }
            
            .right-part {
                .right-container {
                    .avatar-name {
                        .name-change-img {
                            p{
                                color: white;
                            }
                            .input-user-img {
                                .labelImg {
                                    .click-text:hover {
                                        color: white;
                                    }
                                }
                            }
                        }
                    }
                    
                    input {
                        background: transparent;
                        color: white;
                    }
                    textarea {
                        background: transparent;
                        color: white;
                    }
                    h3{
                        color: white;
                        background: transparent;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 768px) {
        .UpdateProfile {
            .profile-container {
                .left-part {
                    border-left: none;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .UpdateProfile {
        padding: unset;

        .profile-container {
            display: flex;
            flex-direction: column;
            border: none;
            height: 100vh;

            .left-part {
                border-bottom: 1px solid var(--border-color);
                border-left: none;

                h3 {
                    font-size: 16px;
                }
            }

            .right-part {
                width: 100vw;

                .right-container {
                    width: 100%;
                    padding: 22px 18px;

                    .avatar-name {
                        gap: 20px;
                    }

                    .form {
                        .name-input {
                            flex-direction: column;
                            gap: 8px;
                            align-items: unset;
                        }

                        .bio-input {
                            flex-direction: column;
                            gap: 8px;
                            align-items: unset;
                        }
                    }
                }
            }
        }
    }
}